[submodule "Pages/Options/chrome-bootstrap"]
	path = Pages/Options/chrome-bootstrap
	url = https://github.com/JustBuild/chrome-bootstrap.git
[submodule "Scripts/knockoutjs-reactor"]
	path = Scripts/knockoutjs-reactor
	url = https://github.com/JustBuild/knockoutjs-reactor.git
[submodule "Scripts/knockout.mapping"]
	path = Scripts/knockout.mapping
	url = https://github.com/JustBuild/knockout.mapping.git
