body {
	font-family:'Segoe UI'; 
	font-size: 0.85em;
	margin: 0;
}

.PluginsTable {
	margin: 20px;
}

.PluginItem {
	background-color: #f8f8f8;
	margin: 25px 0px;
	padding: 15px;

	-webkit-border-radius: 10px;

	-webkit-box-shadow: 2px 2px 15px #bbb;

	width: 590px;
}
			
.PluginOptions img {
	margin-bottom: 15px;
	width: 64px;
	height: 64px;
	float: left;
}

.PluginOptions {
	text-align:center; 
	vertical-align:top;
	float: left;
}
			
.PluginInfo {
	width: 520px;
	float: right;
}

.PluginAlias {
	float: left;
}

.PluginVersion {
	text-align:right; 
	color:#656565;
	float: right;
}

.PluginDescription {
	color:#959595;
	padding-right: 20px;
}

.PluginFooter {
	color:#656565;
	padding-right: 75px;
}

.PluginAuthor {
	float: left;
}

.PluginLink {
	float: right;
}

img.disabled {
	-webkit-filter: grayscale(1);
}

.AlphaFlag,
.BetaFlag,
.Flag {
	background-repeat:no-repeat; 
	background-position: right bottom; 
}

.AlphaFlag {
	background-image:url(../../Images/PluginAlphaMark.png); 
}
			
.BetaFlag {
	background-image:url(../../Images/PluginBetaMark.png); 
}

.FilterBar {
	width:200px;
	height:24px;
				
	margin-left:auto;
	margin-right:auto;
}